
dbpedia-discrete-fact {
	display: block;
	margin: 5px 20px 5px 30px;
}

dbpedia-discrete-fact > div.object > ul > li {
	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}